################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/BaseDeDatosI24/FileContentIndex/48418789-8660-450c-9ea5-bc91294bd728.vsidx
